<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>View Client</title>
    <th:block th:include="fragments/general-blocks.html :: headerfiles"></th:block>
    <th:block th:include="fragments/general-blocks.html :: datatables-css-link"></th:block>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <th:block th:include="fragments/general-blocks.html :: sidebar(activity='parametrages', page='clients')">
        </th:block>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <th:block th:include="fragments/general-blocks.html :: topbar"></th:block>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">View Client</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row align-items-center">
                                <h6 class="m-0 font-weight-bold text-primary">Informations Client</h6>
                            </div>
                        </div>
                        <div class="container mt-3">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <th scope="row">Code Client</th>
                                        <td th:text="${client.codeClient}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nom Client</th>
                                        <td th:text="${client.nomClient}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Adresse</th>
                                        <td th:text="${client.adresse}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Complement Adresse</th>
                                        <td th:text="${client.complementAdresse}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Numero Patenete</th>
                                        <td th:text="${client.numeroPatente}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Numero Telephone</th>
                                        <td th:text="${client.numeroTel}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ICE</th>
                                        <td th:text="${client.ice}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <label class="font-weight-bold text-primary mb-4" for="navires">Navires :</label>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Code Navire</th>
                                            <th>Nom du Navire</th>
                                            <th>Pavillon</th>
                                            <th>Categorie du Navire</th>
                                            <th>longueur du Navire</th>
                                            <th>Jauge Brute</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Code du Navire</th>
                                            <th>Nom du Navire</th>
                                            <th>Pavillon</th>
                                            <th>Categorie du Navire</th>
                                            <th>longueur du Navire</th>
                                            <th>Jauge Brute</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="navire : ${client.navires}">
                                            <td th:text="${navire.codeNavire}">0</td>
                                            <td th:text="${navire.nomNavire}">test</td>
                                            <td th:text="${navire.pavillon.libellePavillon}">23.32</td>
                                            <td th:text="${navire.categorieNavire.libelleCategorieNavire}">23.32</td>
                                            <td th:text="${navire.longueurNavire}">23.32</td>
                                            <td th:text="${navire.jaugeBrute}">23.32</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <th:block th:include="fragments/general-blocks.html :: footer"></th:block>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <th:block th:include="fragments/general-blocks.html :: logout-modal"></th:block>
    <th:block th:include="fragments/general-blocks.html :: js-scripts"></th:block>
    <th:block th:include="fragments/general-blocks.html :: data-tables-script"></th:block>
</body>

</html>