<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Add User</title>

    <th:block
      th:include="fragments/general-blocks.html :: headerfiles"
    ></th:block>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <th:block
        th:include="fragments/general-blocks.html :: sidebar(fichiers)"
      ></th:block>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <th:block
            th:include="fragments/general-blocks.html :: topbar"
          ></th:block>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 ml-2 text-gray-800">Add User</h1>
            <div class="container col-lg-6">
              <div>
                <form
                  class="text-center border border-light"
                  th:action="@{/admin/users}"
                  th:object="${user}"
                  method="POST"
                >
                  <input type="hidden" th:field="*{id}" />

                  <input
                    type="text"
                    id="defaultContactFormName"
                    th:field="*{username}"
                    class="form-control mb-4"
                    placeholder="Username"
                    required
                  />

                  <input
                    type="text"
                    id="defaultContactFormEmail"
                    th:field="*{password}"
                    class="form-control mb-4"
                    placeholder="Password"
                    required
                  />
                  <select
                    th:field="*{roles}"
                    id=" codeTypeBulletin"
                    class="form-control mb-4"
                    title="Roles"
                  >
                    <option value="ADMIN">Admin </option>
                    <option value="BULLETIN">Bulletins</option>
                    <option value="FACTURES">Factures</option>
                  </select>
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="activeField"
                      th:field="*{active}"
                      value="1"
                      checked
                    />
                    <label class="custom-control-label" for="activeField"
                      >Active</label
                    >
                  </div>

                  <label for="Port">Port</label>
                  <select
                    th:field="*{port}"
                    id="port"
                    class="form-control mb-4"
                  >
                    <option
                      th:each="port : ${ports}"
                      th:value="${port.id}"
                      th:text="${port.id} +'- '+ ${port.location}"
                    >
                    </option>
                  </select>

                  <!-- Send button -->
                  <button class="btn btn-info btn-block" type="submit">
                    Add User
                  </button>
                </form>
                <!-- Default form contact -->
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <th:block
          th:include="fragments/general-blocks.html :: footer"
        ></th:block>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <th:block
      th:include="fragments/general-blocks.html :: logout-modal"
    ></th:block>

    <th:block
      th:include="fragments/general-blocks.html :: js-scripts"
    ></th:block>
  </body>
</html>
