<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Navire</title>

    <th:block th:include="fragments/general-blocks.html :: headerfiles"></th:block>



</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <th:block th:include="fragments/general-blocks.html :: sidebar(activity='parametrages', page='navires')">
        </th:block>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <th:block th:include="fragments/general-blocks.html :: topbar"></th:block>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 ml-2 text-gray-800">Add Navire</h1>
                    <div class="container col-lg-6" id="formContainer">
                        <div>
                            <form class="text-center border border-light" th:action="@{/parametrages/navires}"
                                th:object="${navire}" action="#!" method="POST">
                                <label for="Navire">Nom Navire</label>
                                <input type="text" id="defaultContactFormName" th:name="nomNavire"
                                    class="form-control mb-4" placeholder="Nom Navire" required>


                                <label for="client">Client</label>
                                <div class="input-group mb-4">
                                    <input list="clients" id="clientInput" th:name="client" class="form-control "
                                        placeholder="Client" required title="Client" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span id="clientNameText"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label for="pavillon">Pavillon</label>
                                        <select th:name="pavillon" id=" codePavillon" class="form-control mb-4"
                                            title="Pavillon">
                                            <option th:each="pavillon : ${pavillons}"
                                                th:value="${pavillon.codePavillon}"
                                                th:text="${pavillon.codePavillon} +'- '+ ${pavillon.libellePavillon}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="Categorie">Categorie Navire</label>
                                        <select th:name="categorieNavire" id=" CodeCatergorie" class="form-control mb-4"
                                            title="Categorie Navire">
                                            <option th:each="categorie : ${categories}"
                                                th:value="${categorie.codeCategorieNavire}"
                                                th:text="${categorie.codeCategorieNavire} +'- '+ ${categorie.libelleCategorieNavire}">
                                            </option>
                                        </select>
                                    </div>
                                </div>






                                <input type="number" id="defaultContactFormEmail" th:name="longueurNavire"
                                    class="form-control mb-4" placeholder="longueurNavire" required step="0.1">

                                <input type="number" id="defaultContactFormEmail" th:name="jaugeBrute"
                                    class="form-control mb-4" placeholder="Jauge Brute" required step="0.1">


                                <datalist id="clients">
                                    <option th:each="client : ${clients}" th:value="${client.codeClient}"
                                        th:id="'client'+${client.codeClient}" th:text="${client.nomClient}"></option>
                                </datalist>

                                <!-- Send button -->
                                <button class="btn btn-info btn-block" type="submit">Ajouter le navrire</button>

                            </form>
                            <!-- Default form contact -->
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <th:block th:include="fragments/general-blocks.html :: footer"></th:block>


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->




    <th:block th:include="fragments/general-blocks.html :: logout-modal"></th:block>


    <th:block th:include="fragments/general-blocks.html :: js-scripts"></th:block>
    <script src="/js/addingNavire.js"></script>
</body>

</html>